<template>
    <v-content>
        <v-container fluid>
          <v-layout justify-center class="text-md-center">    
              <v-flex md4>
                  <div class="panel elevation-20">
                    <v-btn flat to="/fuentepoder">
                        <v-icon >power</v-icon>
                    </v-btn>
                    <h3>Fuente de poder</h3>
                  </div>
              </v-flex>
              <v-flex md4>
                  <h1>Hola</h1>
              </v-flex>
              <v-flex md4>
                  <h1>Hola</h1>
              </v-flex>
          </v-layout>
          <v-layout justify-center class="text-md-center">    
              <v-flex md4>
                  <h1>Hola</h1>
              </v-flex>
              <v-flex md4>
                  <h1>Hola</h1>
              </v-flex>
              <v-flex md4>
                  <h1>Hola</h1>
              </v-flex>
          </v-layout>
        </v-container>    
    </v-content>    
</template>
<script>


    export default {
    
    }
</script>
<style scoped>
    .panel{
        text-align: center;
        margin: auto;
        height: 200px;
        width: 200px;
    }

    .panel img{
        width: 100%;;
    }
</style>

