<template>
    <div>
        <app-conf></app-conf>
        <router-view></router-view>
    </div>
</template>
<script>
    import Header from "../Home/Header";
    import Configuracion from './Configuracion';

    export default {
        components: {
            'app-head': Header,
            'app-conf': Configuracion
        }
    }
</script>
<style scoped>
    .panel{
        text-align: center;
        margin: auto;
        height: 200px;
        width: 200px;
    }

    .panel img{
        width: 100%;;
    }
</style>


