<template>
    <div>

        <h1>Agregar fuente</h1>
    </div>
</template>
<script>

    import Header from '../Home/Header.vue'

  export default {
      components: {
          'app-header': Header
      },
      data(){
        return {

        };
      }
  }
</script>
<style scoped>

</style>

