<template>
  <div>
    <v-navigation-drawer v-model="sideNav" clipped fixed app>
      <v-list dense>
        <v-list-tile v-for="item in menuItems" :key="item.titulo" @click=""> 
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
              <v-list-tile-title>{{ item.titulo }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar dark app clipped-left fixed>
      <v-toolbar-side-icon @click.native="sideNav = !sideNav" class=""></v-toolbar-side-icon>
      <v-toolbar-title class="white--text">
        <router-link to="/" tag="span">BuiltPCExpress</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn 
          flat 
          v-for="item in menuItems" 
          :key="item.titulo"
          :to="item.ruta">
          <v-icon left>{{ item.icon }}</v-icon>
          {{ item.titulo }}
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        sideNav: false,
        menuItems: [
          { icon: 'lock_open', titulo: 'Login',ruta: '/signin'},
          { icon: 'supervisor_account', titulo: 'Salir',ruta: ''},
          { icon: 'supervisor_account', titulo: '',ruta: ''}
        ]
      }
    },
    created(){

    }
  }
</script>

<style>

</style>
