<template>
    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center align-center>    
            <img src="../assets/fuentepoder.png" alt="">
        </v-layout>
      </v-container>
    </v-content>
</template>

<script>

import Header from './Home/Header'

export default {
  components:{
    'app-header': Header
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>
<style>

</style>
