<template>
    <v-content>
        <v-container>
            <v-layout justify-center align-center row>
                <v-flex md8 lg4 sm8 xs10>
                    <form>
                        <v-text-field
                            label="Username"
                            v-model="name"
                            :error-messages="nameErrors"
                            :counter="10"
                            @input="$v.name.$touch()"
                            @blur="$v.name.$touch()"
                            required
                        ></v-text-field>
                        <v-text-field
                            v-model="password"
                            label="Password"
                            min="8"
                            :error-messages="passErrors"
                            :append-icon="ispass ? 'visibility' : 'visibility_off'"
                            :append-icon-cb="() => (ispass = !ispass)"
                            type="password"
                            @input="$v.password.$touch()"
                            @blur="$v.password.$touch()"
                            :type="ispass ? 'password' : 'text'"
                            required
                        ></v-text-field>
                        <v-btn @click="submit">submit</v-btn>
                        <v-btn @click="clear">clear</v-btn>
                    </form>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
</template>
<script>
  import { validationMixin } from 'vuelidate'
  import { required, maxLength, email } from 'vuelidate/lib/validators'

  export default {
    mixins: [validationMixin],
    validations: {
        name: {
           required, maxLength: maxLength(10) 
        },
        password: {
            required
        }
    },
    data () {
      return {
        name: '',
        password: '',
        ispass: true
      }
    },
    methods: {
      submit () {
        this.$v.$touch();
      },
      clear () {
        this.$v.$reset();
        this.name = '';
        this.password = '';
      }
    },
    computed: {
      nameErrors () {
        const errors = []
        if (!this.$v.name.$dirty) return errors
        !this.$v.name.maxLength && errors.push('El username solamente puede tener 10 caracteres')
        !this.$v.name.required && errors.push('El username es requerido')
        return errors
      },
      passErrors () {
        const errors = []
        if (!this.$v.password.$dirty) return errors
        !this.$v.password.required && errors.push('El password es requerido')
        return errors
      }
    }
  }
</script>
<style scoped>

</style>


