<template>
  <v-app light id="inspire">
    <app-header></app-header>
    <router-view/>
  </v-app>
</template>

<script>
  import Header from './components/Home/Header'
  export default {
    components: {
      'app-header': Header
    },
    data () {
      return {
        
      }
    }
  }
</script>
